<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />

  {{!-- SEO --}}
  <!-- HTML Meta Tags -->
<title>Drink-app: Calculate your drinks cost break down</title>
<meta name="description" content="Introduce your providers, their products and create recipes with auto generated cost breakdown!">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Drink-app: Calculate your drinks cost break down">
<meta itemprop="description" content="Introduce your providers, their products and create recipes with auto generated cost breakdown!">
<meta itemprop="image" content="https://res.cloudinary.com/dtkvfvtev/image/upload/v1601160174/thvp2dfdrv8kc4lsas4y.jpg">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="http://drinks-app.herokuapp.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Drink-app: Calculate your drinks cost break down">
<meta property="og:description" content="Introduce your providers, their products and create recipes with auto generated cost breakdown!">
<meta property="og:image" content="https://res.cloudinary.com/dtkvfvtev/image/upload/v1601160174/thvp2dfdrv8kc4lsas4y.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Drink-app: Calculate your drinks cost break down">
<meta name="twitter:description" content="Introduce your providers, their products and create recipes with auto generated cost breakdown!">
<meta name="twitter:image" content="https://res.cloudinary.com/dtkvfvtev/image/upload/v1601160174/thvp2dfdrv8kc4lsas4y.jpg">

<!-- Meta Tags Generated via http://heymeta.com -->
</head>
<body>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>